<section class="px-4 py-12 bg-[#E35970]">
    <div
        class="container flex flex-wrap items-center justify-center mx-auto space-y-4 text-white sm:justify-between sm:space-y-0">
        <div class="flex flex-row pr-3 space-x-4 sm:space-x-8">
            <div class="flex items-center justify-center">
                <img src="../../../../assets/images/freya2.png" alt="Freya Logo">
            </div>
            <ul class="flex flex-wrap items-center space-x-4 sm:space-x-8">
                <li>
                    <a rel="noopener noreferrer" href="#">Terms of Use</a>
                </li>
                <li>
                    <a rel="noopener noreferrer" href="#">Privacy</a>
                </li>
            </ul>
        </div>
        <ul class="flex flex-wrap pl-3 space-x-4 sm:space-x-8">
            <li>
                <a rel="noopener noreferrer" href="#">Instagram</a>
            </li>
            <li>
                <a rel="noopener noreferrer" href="#">Facebook</a>
            </li>
            <li>
                <a rel="noopener noreferrer" href="#">Twitter</a>
            </li>
        </ul>
    </div>
</section>