<section class="mx-auto mb-32 mt-96 xl:mt-4 text-center text-[#E35970] lg:text-left">
    <div class="px-6 py-12 md:px-12">
        <div class="max-w-[90%] mx-auto xl:px-32 xl">
            <div class="flex grid items-center lg:grid-cols-2">
                <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
                    <div data-aos="fade-right" data-aos-duration="1500" data-aos-anchor="#showFeature" class="relative block px-6 pt-12 pb-6 rounded-lg shadow-lg md:px-12 lg:-mr-14" style="
                  background: hsla(0, 0%, 100%, 0.55);
                  backdrop-filter: blur(30px);
                  z-index: 1;
                ">
                        <h2 id="showFeature" class="mb-6 text-3xl font-bold ">Freya Comes With Solution</h2>
                        <p class="mb-6 text-gray-500">
                            Don't worry about fees or anything like that. Goddess Does not ask for wages.We Came to
                            provide solutions to prevent violence.Of course your will and courage are also needed
                        </p>

                        <div
                            class="grid gap-6 mt-6 md:mt-10 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 lg:mt-6 2xl:mt-3">
                            <div class="flex items-center">
                                <div class="relative w-16 h-16">
                                    <div
                                        class="z-20 flex items-center justify-center flex-shrink-0 w-16 h-16 mt-2 mr-3 ">
                                        <img src="../../../../assets/images/browseinfo.png" alt="clock">
                                    </div>
                                </div>
                                <div class="flex flex-col items-start pt-8 ml-6 text-left">
                                    <h2 class="text-lg font-semibold leading-4 text-gray-800">Browse Info</h2>
                                    <p class="mt-2 text-base leading-6 text-gray-600 aligb lg:w-40 2xl:w-52">Whether
                                        article
                                        spirits new her covered.</p>
                                </div>
                            </div>
                            <div class="flex items-center">
                                <div class="relative w-16 h-16">
                                    <div
                                        class="z-20 flex items-center justify-center flex-shrink-0 w-16 h-16 mt-2 mr-3 ">
                                        <img src="../../../../assets/images/sharetime.png" alt="clock">
                                    </div>
                                </div>
                                <div class="flex flex-col items-start pt-8 ml-6 text-left">
                                    <h2 class="text-lg font-semibold leading-4 text-gray-800">Share Time</h2>
                                    <p class="mt-2 text-base leading-6 text-gray-600 lg:w-40 2xl:w-52">Whether article
                                        spirits new her covered.</p>
                                </div>
                            </div>
                            <div class="flex items-center">
                                <div class="relative w-16 h-16">
                                    <div
                                        class="z-20 flex items-center justify-center flex-shrink-0 w-16 h-16 mt-2 mr-3 ">
                                        <img src="../../../../assets/images/notify.png" alt="clock">
                                    </div>
                                </div>
                                <div class="flex flex-col items-start pt-8 ml-6 text-left">
                                    <h2 class="text-lg font-semibold leading-4 text-gray-800">Notify</h2>
                                    <p class="mt-2 text-base leading-6 text-gray-600 lg:w-40 2xl:w-52">Whether article
                                        spirits new her covered.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-left" data-aos-duration="2000" data-aos-anchor="#showFeature" class="md:mb-12 lg:mb-0">
                    <img src="../../../../assets/images/mockup2.png"
                        class="w-full max-w-3xl rounded-lg shadow-lg rotate-lg-6 xl:rotate-6" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->