<div  data-aos="fade-up" data-aos-duration="3000"  [ngClass]="{reverseRow: aboutList?.isReverseRow}"
    class="flex flex-col overflow-hidden rounded-md shadow-[0_2px_8px_0_rgba(99,99,99,0.2)] my-24 lg:my-20  lg:flex-row ">
    <img src={{aboutList?.imgLink}} alt="Image" class="h-80 dark:bg-gray-500 light: aspect-video">
    <div class="flex flex-col justify-center flex-1 p-6 bg-white">
        <span class="text-xs uppercase dark:text-gray-800">{{aboutList?.spanText}} </span>
        <h3 class="text-3xl font-bold capitalize text-[#E35970]">{{aboutList?.headingText}}</h3>
        <p class="my-6 dark:text-gray-900">{{aboutList?.parafText}}</p>

        <a href={{aboutList?.link}} class="text-base font-semibold leading-7 text-gray-900"
            target="_blank">{{aboutList?.btnText}}
            <span aria-hidden="true">→</span></a>
    </div>
</div>